@*@model List<webServerInventoryDatabase.Models.DatabaseModels.Patching>*@
@model List<wsPatching.Models.DatabaseModels.PatchingConfig>
@{
    var ShowManageButton = ViewBag.ShowManageButton ?? false;
    //var ParentID = ViewBag.ParentID;
    List<wsPatching.Models.DatabaseModels.PatchingSource> patchSources = ViewBag.patchSources;
    List<wsPatching.Models.DatabaseModels.PatchingConfig> patchDetails = ViewBag.patchDetails;
    List<SelectListItem> unscheduledServers = ViewBag.unscheduledServers;

}


<html lang="en">
<head>


    <!-- CSS Includes -->
    <link rel="stylesheet" href="@Url.Content("~/assets/js/plugins/fullcalendar/fullcalendar.min.css")">

    <style type="text/css">
        /*Shows events multiline in month view*/
        .fc-day-grid-event > .fc-content {
            white-space: normal;
        }


        .field-validation-error {
            color: #ff0000;
        }

        .fc-time {
            display: none;
        }
    </style>
</head>

<body>
    <div class="block bg-body shadow-none">




    </div>




    <div class="block block-bordered">
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <div class="flex-00-auto">
                <i class="fa fa-fw fa-info-circle"></i>
            </div>
            <div class="flex-fill ml-3">
                <p class="mb-0">To view patching configuration for a specific server, search for the server name in the searchable drop-down below.</p>
            </div>
        </div>
        <div class="block-header">
            <h3 class="block-title text-primary"><i class="fa fa-calendar-alt"></i> Patch Schedule</h3>
            <div class="block-options">

                <div class="timeline-event-time block-options-item font-size-sm font-w600">

                </div>
            </div>
        </div>
        <div class="block-content">





            <div class="form-group row" id="div_ObjectIdIndex">
                <label class="col-sm-2 col-form-label" for=ObjectIdIndex>

                    Server Name &nbsp&nbsp<i id="req_ObjectIdIndex" class="fa fa-xs fa-asterisk text-primary"></i>
                    <span>&nbsp;&nbsp;</span><i id="help_ObjectIdIndex" class="fa fa-xs fa-question-circle text-black obs-info-icon" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-animation="true" data-content="@Html.Raw("Search for a server to review it's patching schedule")"></i>
                </label>
                <div class="col-sm-4">

                    <select class="form-control js-select2" id="ObjectIdIndex" name="ObjectIdIndex" required data-placeholder="Server">
                        <option></option>

                    </select>

                </div>
            </div>






        </div>
        <div class="block-content">

            <div id='calendar'></div>

        </div>
    </div>
    @if (unscheduledServers.Count() > 0)
    {
    <div class="block block-bordered">
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <div class="flex-00-auto">
                <i class="fa fa-fw fa-info-circle"></i>
            </div>
            <div class="flex-fill ml-3">
                <p class="mb-0">The servers listed below have the patching scheduled task installed, but a patching schedule has not been defined. Click the "Add New Schedule" button above to create a patching schedule.</p>
            </div>
        </div>
        <div class="block-header">
            <h3 class="block-title text-primary"><i class="fa fa-band-aid"></i> Servers Without Patch Schedule</h3>
            <div class="block-options">

                <div class="timeline-event-time block-options-item font-size-sm font-w600">

                </div>
            </div>
        </div>
        <div class="block-content">
            <table style="max-width:300px;" class="table table-sm table-striped table-vcenter js-dataTable-full">
                <thead class="thead-dark">
                    <tr>
                        <th>Hostname</th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in unscheduledServers)
                    {
                        <tr>
                            <td>@s.Text</td>
                            <td align="right">
                                <button class="btn btn-sm btn-danger" type="button" onclick='javascript:ShowPopUpDelete("DeletePatchConfigAndServerByServerId", "Home", "@s.Value", "Server Record for @s.Text? - This will not remove patching scheduled tasks that have been created on the server", "Index", false, "0")'><i class="fa fa-trash"></i></button>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    }
    <!-- JS includes -->
    <script src="@Url.Content("~/assets/js/plugins/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/plugins/fullcalendar/fullcalendar.min.js")"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            LoadServersListIndex();


            $("#ObjectIdIndex").change(function () {
                var objIdVal = $("#ObjectIdIndex").text();
                var urlMgmt = getActionURL("Schedule", "Manage") + "/" + objIdVal;
                window.location = urlMgmt;
            });






        });



        function ResetServerInstanceGrid(instances) {
            var selected = $("#ddlServerInstance").val();

            for (i = 0; i < instances.length; i++) {
                //alert(instances[i].Value);
                //makeFieldHidden(instances[i].Value);
                if ($('#div_' + instances[i].Value).is(":visible")) {
                    $('#div_' + instances[i].Value).fadeOut(function () {
                        $('#div_' + selected).fadeIn();
                    });
                    return;
                };
            };
            makeFieldVisible(selected);
        };

        function GetPatchingCalendar() {
            //var slctd = $("#ddlServerInstance").val();

            //var opt = $('#ddlServerInstance').val();

            var url = getActionURL("GetAllPatchingCalendar", "Home"); // + "?id=" + opt;

            $.ajax({
                type: "GET",
                async: false,
                url: url,
                dataType: "json",
                success: function (obj) {
                    $('#calendar').fullCalendar({
                        header: {
                            left: 'title prev,next',
                            center: '',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        themeSystem: 'bootstrap4',
                        firstDay: 0, //The day that each week begins - Sunday=0, Monday=1, Tuesday=2, etc.
                        slotMinutes: 60,
                        height: 650,
                        events: obj


                    });
                }
            });

        }
    </script>
</body>
</html>
