@model wsPatching.Models.DatabaseModels.ServerObject
@{

    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}



<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2" id="div_StatusTitle">
                Patching Automation <small id="div_StatusDescription" class="d-block d-sm-inline-block mt-2 mt-sm-0 font-size-base font-w400 text-muted">  Click on the blocks below for more info about each value.</small>
            </h1>

            <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item">
                    <a class="link-fx" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                @*<li class="breadcrumb-item">
                        <a class="link-fx" href="@Url.Action("Index", "SystemStatus")">System Status</a>
                    </li>*@

                @*<li class="breadcrumb-item" aria-current="page">
                        <select class="breadcrumb-item breadcrumb-select" id="myViewSelector" name="myViewSelector">
                            <option value="_VMware">VMware</option>

                        </select>

                    </li>*@

            </ol>


        </div>
        <div class="form-group form-row">
            @*<div class="col-lg-2">

                    <button type="button" id="btnRDP" class="form-control btn btn-sm btn-outline-primary" onclick="location.href='@Url.Action("GenerateRDPFile", "Server", new { Hostname = Model.HostName })'"><i class="fa fa-desktop"></i> Remote Desktop</button>
                </div>*@
        </div>
    </div>
</div>
<div id="btns_nav">
    <div class="form-group form-row">
        <div class="col-lg-2">
            <button type="button" id="btnPatching" class="form-control btn btn-sm btn-outline-primary" onclick="Javascript:LoadPageBody('_PatchingSchedule', 'SystemStatus', false, 0)"><i class="fa fa-desktop"></i> Patching Calendar</button>
        </div>
        <div class="col-lg-2">
            <button type="button" id="btnCreateSchedule" class="form-control btn btn-sm btn-outline-primary" onclick='window.location="@Url.Action("Index", "Manage", new { id = "" } )"'><i class="fa fa-calendar-alt"></i> Add New Schedule</button>
        </div>
        <div class="col-lg-2">
            <button type="button" id="btnCreateScheduletest" class="form-control btn btn-sm btn-outline-primary" onclick='window.location="@Url.Action("Index", "Manage", new { id = "1" } )"'><i class="fa fa-calendar-alt"></i>test view config</button>
        </div>
        <div class="col-lg-2">
            <button type="button" id="btnk8ssummary" class="form-control btn btn-sm btn-outline-primary" onclick="Javascript:LoadPageBody('_Kubernetes', 'SystemStatus', false, 0)"><i class="fa fa-desktop"></i> Kubernetes</button>
        </div>
    </div>

</div>
        </div>
<div id="pageBody">

</div>


<script type="text/javascript">
    jQuery(function ($) {
        highlightNavMenu("Manage");
        $("#div_PageNameHeader").html("Manage Patching");
        $('#nav_systemstatusparent').addClass('open');

        if (@Model.Id == 0) {

            ShowPopUpEditorDynamic('_ServerPatchingEditor','Manage','0','Create New Schedule', 'ProcessServerPatching', 'Manage', '_ScheduleDetails', 'Manage', true, 'new');

        }
        else {

            LoadPageBody("_ScheduleDetails", "Manage", true, @Model.Id);
        }
    });



</script>
